<div class="container-fluid">
  <footer>
    <div class="card">
      <div class="card-footer">
        <div class="row">
          <div class="col-md-5" id="allabout">
          <h1>ABOUT THE DEVELOPER</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, asperiores.</p>
          <br>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, recusandae!</p>
          <br>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, recusandae!</p>
          </div>
          <div class="col-md-2">
            <div id="line"></div>
          </div>
          <div class="col-md-5" id="allcontacts">
            <h1>CONTACTS</h1>
              <p>Email: <a href="drucilla.mumba@student.moringaschool.com">drucilla.mumba@student.moringaschool.com</a></p>
              <p>You can follow me on:</p>
              <p><a href="https://www.facebook.com/dru.mumba" target="blank"><img src="../../assets/icons/fb.png" alt="facebook"></a>
              <a href="https://www.instagram.com/dru_mumba/" target="blank"><img src="../../assets/icons/insta.png" alt="instagram"></a>
              <a href="https://twitter.com/007_dru" target="blank"><img src="../../assets/icons/twitter.png" alt="twitter"></a></p><br>
              <p><img src="../../assets/icons/copyright.png" alt=""><span id="license-year">2022</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>