<div class="container-fluid" id="allquotes">
  <h1>QUOTES</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <figure>
            <a href="#healthandfitness">
              <p><span class="clickable1"><img src="../../assets/maxquote-img/health-and-fitness.jpg" alt=""></span></p>
            </a>
            <figcaption>FITNESS AND HEALTH QUOTES</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body clickable2">
          <figure>
            <a href="#educational">
              <p><span class=""><img src="../../assets/maxquote-img/education.jpg" alt=""></span></p>
            </a>
            <figcaption>EDUCATIONAL QUOTES</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body clickable3">
          <figure>
            <a href="#religious">
              <p><span class=""><img src="../../assets/maxquote-img/religions.jpg" alt=""></span></p>
            </a>
            <figcaption>RELIGIOUS QUOTES</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body clickable4">
          <figure>
            <a href="#relationship">
              <p><span class=""><img src="../../assets/maxquote-img/relationship.jpg" alt=""></span></p>
            </a>
            <figcaption>RELATIONSHIP QUOTES</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body clickable5">
          <figure>
            <a href="#work">
              <p><span class=""><img src="../../assets/maxquote-img/work.jpg" alt=""></span></p>
            </a>
            <figcaption>WORK QUOTES</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <app-minquote></app-minquote>
</div>
<hr>
