<div class="container-fluid" id="allquotes">
  <h1>QUOTES</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body clickable1">
          <a href="#healthandfitness">
            <figure>
              <p><span class=""><img src="../../assets/maxquote-img/health-and-fitness.jpg" alt=""></span></p>
              <figcaption>FITNESS AND HEALTH QUOTES</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body clickable2">
          <a href="#educational">
            <figure>
              <p><span class=""><img src="../../assets/maxquote-img/education.jpg" alt=""></span></p>
              <figcaption>EDUCATIONAL QUOTES</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body clickable3">
          <a href="#religious">
            <figure>
              <p><span class=""><img src="../../assets/maxquote-img/religions.jpg" alt=""></span></p>
              <figcaption>RELIGIOUS QUOTES</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body clickable4">
          <a href="#relationship">
            <figure>
              <p><span class=""><img src="../../assets/maxquote-img/relationship.jpg" alt=""></span></p>
              <figcaption>RELATIONSHIP QUOTES</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body clickable5">
          <a href="#work">
            <figure>
              <p><span class=""><img src="../../assets/maxquote-img/work.jpg" alt=""></span></p>
              <figcaption>WORK QUOTES</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <app-minquote></app-minquote>
</div>
<hr>
