<div class="container-fluid" id="alllanding">
  <div class="row">
    <div class="col-md-12 slider-frame">
      <div class="slide-images">
        <div class="img-container">
          <img src="../../assets/landing-img/forest.jpg" alt="">
          <div class="slide-text">
            <h1></h1>
          </div>
        </div>
        <!-- <div class="img-container">
          <img src="../../assets/landing-img/waterfall.jpg" alt="">
          <div class="slide-text">
            <h1></h1>
          </div>	
        </div>
        <div class="img-container">
          <img src="../../assets/landing-img/mountain.jpg" alt="">
          <div class="slide-text">
            <h1></h1>
          </div>	
        </div> -->
      </div>
    </div>
  </div>
</div>
<hr>
