<p> {{quote1.author}} {{quote1.upvote}} {{quote1.downvote}}</p>
<p>{{quote1.submitDate|timelapse}} {{quote1.submitby}} on {{quote1.submitDate|date}}</p>

<p> {{quote2.author}} {{quote2.upvote}} {{quote2.downvote}}</p>
<p>{{quote2.submitDate|timelapse}} {{quote2.submitby}} on {{quote2.submitDate|date}}</p>

<p> {{quote3.author}} {{quote3.upvote}} {{quote3.downvote}}</p>
<p>{{quote3.submitDate|timelapse}} {{quote3.submitby}} on {{quote3.submitDate|date}}</p>

<p> {{quote4.author}} {{quote4.upvote}} {{quote4.downvote}}</p>
<p>{{quote4.submitDate|timelapse}} {{quote4.submitby}} on {{quote4.submitDate|date}}</p>

<p> {{quote5.author}} {{quote5.upvote}} {{quote5.downvote}}</p>
<p>{{quote5.submitDate|timelapse}} {{quote5.submitby}} on {{quote5.submitDate|date}}</p>
